.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 673px;
    height: 651px;
    background-color: white;
    transform: translate(-50%, -50%);
  }





.cont {
    display: flex;
}


.head {
    width: 563px;
    height: 58px;
    flex-shrink: 0;
    color: #3E3E3E;
    font-family: Apercu Arabic Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

form {
    display: flex;
    flex-direction: column;
}

.box1 {
    margin-bottom: 5px;
    width: 260px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #FFF;
}

.box2 {
    margin-bottom: 5px;
    width: 260px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #FFF;
}

.box3 {
    margin-bottom: 5px;
    width: 260px;
    height: 132px;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #FFF;
}

.but {
    border: none;
    width: 109px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 500px;
    background: #FAD34F;
    color: #FFF;
    font-family: Apercu Arabic Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cartoon {
    position: absolute;
    margin-left: 161px;
    margin-top: 308px;
}

.right {
    display: flex;
    position: absolute;
    left: 183px;
}

.one {
    position: absolute;
}

.phot {    
    margin-left: 175px;
    width: 313px;
    height: 462px;
}

hr {
    margin-bottom: 5px;
    margin-top: 44px;
}

.all_foot {
    display: flex;
    justify-content: space-between;
}

.all-foot {
    display: flex;
    align-items: center;
}

.box1_one {
    margin-bottom: 84px;
}

.inter {
    margin-left: 5px;
}